
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@500;700&family=Poppins:wght@400;700&family=Roboto:wght@700&display=swap');

.navbar{
    padding: 16px 100px!important;
    border-bottom: 2px solid #EDEDED;
}

.navbar-brand{
    color: #008ECC !important;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 34px !important;
    margin-right: 100px !important;
}

.nav-item{
    display: flex;
}

.nav-item .nav-link{
    /* background-color: #F3F9FB; */
    /* border-radius: 25px; */
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #222222;
    font-weight: 500;
    
}

.s-gap{
    gap:80px;
}

.nav-link.active{
    /* background-color: #008ECC;
    border-radius: 25px; */
    border-bottom:2px solid #008ECC;

}

.nav-icon{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 50px; */
    margin-right: 10px;
    color: #008ECC;
}

.separator-auth{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #008ECC; */
    margin-left: 10px;
    margin-right: 10px;
}

.separator{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008ECC;
    margin-left: 40px;
    margin-right: 40px;
}

